@model string

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#disconnectImage').click(function () {
            $.ajax({
                url: '@Url.Action("Disconnect", controllerName: "Account")',
                method: 'GET',
                success: function () {
                    document.location.reload();
                }
            });
        });
    });
</script>

<div id="containerWithBackground">
    <div id="logoContainer">
        <img src="~/Images/UI/logo.png" />
    </div> <br> <br> <br> <br> <br> <br>
    

    @using (Html.BeginForm("NewUser", "Account"))
    {
        <table>
            <tr>
                <td><img src="~/Images/UI/username.png" /></td>
                <td><input name="userName" class="usernameInput" type="text"></td>
            </tr> 
        </table>  <br> <br>
        
            <div id="arrowContainer">
                <input type="image" src="~/Images/UI/arrow.png" alt="Submit Form" />
            </div>
    }

    <div class="disconnectPanel">
        <div class="emailDisconnect">@HttpContext.Current.User.Identity.Name</div>
        <img id="disconnectImage" src="~/Images/UI/disconnect.png" />
    </div>
</div>