<div id="containerWithBackground">
    <div id="logoContainer">
        <img src="~/Images/UI/logo.png" />
    </div> <br> <br> <br> <br> <br> <br>
    <table>
        <tr>
            <td><img src="~/Images/UI/username.png" /></td>
            <td><input class="usernameInput" type="text"></input></td>
        </tr>
    </table>  <br> <br>
    <div id="arrowContainer">
            <img src="~/Images/UI/arrow.png" />
    </div>
</div>