<div id="containerWithBackground">
    <div id="logoContainer">
        <img src="logo.png" />
    </div>
    <br> <br> <br> <br> <br> <br>

    <div class="gameTypeContainer">
        <img src="~/Images/UI/deathmatch.png" />
    </div>

    <div class="gameTypeContainer">
        <img src="~/Images/UI/teamDeathmatch.png" />
    </div>

    <div class="gameTypeContainer">
        <img src="~/Images/UI/capture.png" />
    </div>
    <br> <br>
</div>