
* {
	margin: 0;
	padding: 0;
}

#containerWithBackground {
	background-image: url("../Images/UI/background.png");
    height:100vh;
}

#logoContainer {
	text-align: center;
}

.gameTypeContainer {
	text-align: center;
	width: 100%;
}

#bar {
	float: right;
	width: 20%;
	height: 100%;
	background-image: url("../Images/UI/background.png");
    height: 100vh;
}


#logoContainer {
	text-align: center;
}
table {
	margin-right: auto;
	margin-left: auto;
}
.passwordInput
{
  width: 250px;
  height: 40px;		
}
.emailInput
{
  width: 250px;
  height: 40px;
}
input
{
	font-size: 200%;
}
#arrowContainer {
	text-align: center;
}

#logoContainer {
	text-align: center;
}
table {
	margin-right: auto;
	margin-left: auto;
}
.usernameInput
{
  width: 250px;
  height: 40px;
}
input
{
	font-size: 200%;
}
#arrowContainer {
	text-align: center;
}